* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5dc;
}

#p-welcome {
  font-size: 34px;
  text-decoration: underline;
  text-align: center;
  color: #a51414;
}
